
@{
    ViewBag.Title = "HowToUse";
}

<h2>Как купить.</h2>
<br />
Это не интернет магазин.
<br />
Оплата в магазине.
<br />
Для того чтобы купить создайте заказ.
<br />
    Для создания заказа пройдите по ссылке:
    @Html.ActionLink("создать заказ", "CreateQuest", "UserAction")
<br />
При создании вам выведется номер вашего заказа.
<br />
Так-же вас попросят ввести телефон - оповестить вас когда вы сможете забрать заказ и для обеспечения безопасности.
<br />
<br />
Для изменения уже существующего заказа пройдите по ссылке: 
@Html.ActionLink("выбрать заказ для изменения", "EditQuest", "UserAction")
<br />
<br />
Вы сможете забрать ваши покупки оплатив их в магазине, сказав номер заказа и ваш номер.
<br />
<br />
Оплата только в магазине!!!!
<br />
В целях исключения шутников( мало-ли дети играются), покупки одного товара в количестве более 10 штук заказываются по телефону!!!